<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372962583786-1ccto77spfsnr8172j4luph8e80o3von.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372962583786-1ccto77spfsnr8172j4luph8e80o3von</string>
	<key>API_KEY</key>
	<string>AIzaSyALHIbxCsDfHY6Z_OKpHFbt9w1rXbCQf7I</string>
	<key>GCM_SENDER_ID</key>
	<string>372962583786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chetandavdra.fancaster</string>
	<key>PROJECT_ID</key>
	<string>fancaster-f475f</string>
	<key>STORAGE_BUCKET</key>
	<string>fancaster-f475f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372962583786:ios:4fc9873f75f34e0ab9a393</string>
</dict>
</plist>